<h1>Editing processor</h1>

<%= render "form", processor: @processor %>

<br>

<div>
  <%= link_to "Show this processor", @processor %> |
  <%= link_to "Back to processors", processors_path %>
</div>
